@{
    ViewData["Title"] = "Origin Bank";
}

<div class="text-center">

    <h1 class="display-4 m-5">Bienvenido a Origin Bank</h1>

    <a class="btn btn-outline-success" asp-controller="Auth" asp-action="IngresarTarjeta"> Ingresar </a>
</div>
