@{
    ViewData["Title"] = "Bienvenido a Origin ATM";
}
<h1>@ViewData["Title"]</h1>


<h2>Ingrese su número de tarjeta</h2>

<div class="card-input-container">
    <input class="mb-2" type="text" id="numeroTarjeta" readonly placeholder="XXXX-XXXX-XXXX-XXXX" />
</div>

<div id="tecladoNumerico">
    @await Html.PartialAsync("_TecladoNumerico", "numeroTarjeta")
</div>

<form id="formTarjeta" method="post" asp-action="VerificarTarjeta">
    <input type="hidden" id="numeroPlano" name="numeroPlano" />
    <button class="btn btn-success" type="submit" onclick="enviarNumeroTarjeta()">Aceptar</button>
</form>


