@{
    const int CANTMAXINTENTOSFALLIDOS = 3;
    ViewData["Title"] = "Origin ATM";
}

<h2>Ingrese su número de PIN</h2>

<form method="post" asp-action="VerificarPIN">
    <input class="mb-2" type="password" id="inputPIN" name="inputPIN" placeholder="000" readonly />
    @await Html.PartialAsync("_TecladoNumerico", "inputPIN")
    <button class="btn btn-success" type="submit" >Aceptar</button>
</form>
@await Html.PartialAsync("_BotonSalir")

@if (ViewBag.IntentosFallidos != null)
{
    <div class="alert alert-warning">
        Intento @ViewBag.IntentosFallidos de @CANTMAXINTENTOSFALLIDOS.
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}


