@{
    ViewData["Title"] = "Bienvenido a Origin ATM";
}

<h2>Ingrese su número de PIN</h2>


<input class="mb-2" type="password" id="numeroPIN" placeholder="000" readonly />

@await Html.PartialAsync("_TecladoNumerico", "numeroPIN")

<button type="button" class="btn btn-danger" onclick="salir()">Salir</button>

<form id="formPIN" method="post" asp-action="VerificarPIN">
    <input type="hidden" name="numeroPIN" />
    <button class="btn btn-success" type="submit" onclick="enviarPIN()">Aceptar</button>
</form>


