<a class="btn btn-primary m-5" asp-controller="Operaciones" asp-action="Balance">Balance</a>
<a class="btn btn-primary m-5" asp-controller="Operaciones" asp-action="Retiro">Retiro</a>

<a class="btn btn-danger m-5" onclick="">Salir</a>