<form class="mt-3" asp-action="VerSaldo" method="post">
    <button class="btn btn-primary">Balance</button>
</form>


<a class="btn btn-primary mt-3" asp-controller="Operaciones" asp-action="Retiro">Retiro</a><br />

@await Html.PartialAsync("_BotonSalir")