@model ErrorViewModel

<h3 class="text-danger">Error.</h3>

<h4 class="alert-danger mb-3">

    @Model.Mensaje

</h4>

<a asp-controller="Auth" asp-action="IngresarTarjeta" class="btn btn-outline-dark">Atrás</a>

